<div>
  <link href="./popup-github.css" rel="stylesheet" />
  <div id="popupgithub" class="popup-github-container">
    <div data-aos="zoom-in-up" class="popup-github-container1">
      <div class="popup-github-container2">
        <svg id="close" viewBox="0 0 1024 1024" class="popup-github-icon">
          <path
            d="M810 274l-238 238 238 238-60 60-238-238-238 238-60-60 238-238-238-238 60-60 238 238 238-238z"
          ></path>
        </svg>
      </div>
      <div class="popup-github-container3">
        <img
          alt="popup"
          src="https://ik.imagekit.io/3ij6aly19/bankdata-bimaselalubenar/popup/FUNGSI%20GITHUB%20_%20TIPS%20COVER.png?updatedAt=1709998574672"
          class="popup-github-image"
        />
      </div>
      <div class="popup-github-container4">
        <a
          href="https://github.com/Bimaselalubenar"
          class="popup-github-link button"
        >
          CEK GITHUB
        </a>
        <a
          href="https://github.com/Bimaselalubenar?tab=repositories"
          class="popup-github-link1 button"
        >
          REPOSITORY
        </a>
      </div>
    </div>
  </div>
</div>
